#imgfront {
    height: 900px;
    background: 
    linear-gradient(
    rgba(220, 224, 10, 0.39),
    rgba(230, 12, 12, 0.151)
     ), 
    url('./image/frontimg-B.jpg');
    background-size: cover;
 }

 .imglogotipo {
    display: block;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: auto;
}

